:root {
    --main-color: #f4faff;
    --color-red: #9B000C;
    --color-turquoise: #39BAAB;
    --color-modal: rgba(70, 102, 123, 0.5);
}

@keyframes pulse {
    60% {
        opacity: .7;
    }
}

/* General====================================================== */

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    color: #162D4E;
    /* Utilisez la variation de police Bespoke Stencil que vous préférez ici */
}

button {
    box-shadow: none;
    border: none;
}

select {
    all: unset;
}

.btn-primary, .btn-secondary, .nav-admin-btn, .btn-modifier,.btn-supprimer {
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    border-radius: 0.625rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.btn-primary {
    color: var(--main-color);
    background-color: var(--color-turquoise);
}

.btn-secondary {
    color: var(--main-color);
    background-color: #00619E;
    box-shadow: 1px 1px 1px 1px #d2ecfc;
}

.nav-admin-btn {
    color: var(--main-color);
    background-color: var(--color-red);
    box-shadow: 1px 1px 1px 1px #d2ecfc;
}

.btn-back {
    padding: .4em;
    border-radius: 0.625rem;
    color: var(--main-color);
    background-color: var(--color-red);
    cursor: pointer;
}

.btn-modifier{
    background-color: #FAFDFF;
    color: #46667B;
    cursor: pointer;

}

.btn-supprimer {
    background-color: var(--color-red);
    padding: 0.75rem 1rem;
    margin-left: 1em;
    color: #FAFDFF;
    cursor: pointer;
}

/* Accueil====================================================== */
.grid-accueil {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    color: #162D4E
}

.section-logo {
    background-color: #00619E;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    overflow: hidden;
}

.div-logo {
    margin-top: 14rem;
    margin-bottom: 13rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.logo-accueil {
    margin-right: 2rem;
    max-width: 20rem;
}

.citation-logo-accueil {
    color: var(--main-color);
    margin-top: .5em;
    margin-left: 9rem;
    font-size: 0.75rem;
}

.nav-acceuil {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 3.5rem 0 1.5rem;
}



.espace-accueil {
    margin-top: 13.5rem;
}

.titre-accueil {
    color: #162D4E;
    margin-bottom: 0;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
}

.sous-titre-acceuil {
    color: #162D4E;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.div-btn {
    padding-top: 2rem;
}



/* Admin connexion====================================================== */


.espaceur {
    margin-top: 10em;
}

.form {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

.form-admnin {
    padding-top: .5rem;
}

.formulaire {
    border: solid .5px #9AC3ED;
    border-radius: 0.625rem;
    color: #2e5996;
    padding: .5rem 2.5rem .5rem 2.5rem;
    box-shadow: inset .02em .02em rgba(0, 97, 158, 0.25);
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.form .formulaire::placeholder {
    color: #0D3A69;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Administration ====================================================== */

.nav-administration {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));


}

.ul-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 4em;
    padding-right: 3em;
}

.nav-admin-icone {
    padding-right: .5em;
}

.nav-admin-user {
    font-size: large;
    padding: 0 2em 0 0;
}

main {
    margin: 0 2em 0 2em;
}

.titre-admin {
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    color: var(--main-color);
}

.ajout {
    background-color: #46667B;
    width: fit-content;
    border-radius: 0.625rem;
    padding: 1em 2em 1em 2em;
    margin-left: 2em;
}

.form-ajout {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.form-ajout-email,
.form-ajout-password {
    border: solid .5px #9AC3ED;
    border-radius: 0.625rem;
    box-shadow: inset .02em .02em rgba(0, 97, 158, 0.25);
    color: #2e5996;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    font-weight: 100;
}

.form-ajout-email::placeholder,
.form-ajout-password::placeholder {
    color: #0D3A69;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form-item-1,
.form-item-2,
.form-item-3 {
    padding-right: 1em;

}

.form .formulaire::placeholder {
    color: #0D3A69;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.dropdown-user {
    color: #00619E;
    text-decoration: none;
    background-color: #FAFDFF;
    border: #FAFDFF;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}



.new-user {
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    color: #FAFDFF;
}

.titre-admin,
.titre-user {
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    color: #0D3A69;
}

.section-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    margin-top: 4em;
}

.double-colonne {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    gap: 1em;
}

.card {
    border-radius: 0.625rem;
    padding: .1em 7em 1em 2em;
}

.card-admin {
    background-color: #46667B;
    margin-bottom: 1em;
    color: #FAFDFF;

}

.card-admin-admin {
    height: fit-content;
}

.card-user {
    background-color: #D1E5F2;
    color: #46667B;
}

.card-email {
    margin: 1em 0 0 0;
    letter-spacing: 0.05em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn-card {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.date-status {
    list-style-type: none;
    padding-left: 0;
    display: block flex;
    padding: 0 0 1em 0;
}

.status-admin {
    margin: 0;
    padding: 0 2em 0 4em;
}

/* User connexion ====================================================== */

.logo-user {
    width: 6em;
}

.user-container {
    display: flex;
    margin: 3em;
}

.camera {
    width: 40em;
    height: 25em;
    background-color: #46667B;
    margin-right: 4em;
    border-radius: 0.625rem;
    ;
}

.user-content {
    margin-top: 2em;
}

/* Visio-conférence ====================================================== */

.no-margin {
    margin: 0;
}

.petit-logo {
    width: 3em;
}

.fenetre {
    margin: 0 2em;
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
}

.fenetre-visio {
    height: 36em;
    background-color: #46667B;
    border-radius: 0.625rem;
}

.fenetre-chat {
    display: none;
    /* margin: 0 33%; */
    height: 36em;
    background-color: #46667B;
    border-radius: 0.625rem;
}

.chat-text {
    background-color: #FAFDFF;
    padding: 5em 2.5em 27em 2.5em;
    margin: .5em;
    border-radius: 0.625rem;
}

.chat-writting {
    margin: 0 .5em .5em .5em;
    padding: .5em 2em;
    border-radius: 0.625rem;
    border: none;
    font-size: large;
}

.btn-chat-envoyer {
    padding: 0.5rem 1.5rem;
    border-radius: 0.625rem;
    color: var(--main-color);
    background-color: var(--color-turquoise);
    font-size: large;
}

.fenetre-participant {
    display: none;
    height: 36em;
    background-color: #46667B;
    border-radius: 0.625rem;
}

.inner-participant {
    background-color: #FAFDFF;
    padding: 1em 1em 1em 0em;
    margin: .5em;
    border-radius: 0.625rem;
    overflow: auto;
    height: 33em;
    color: #0D3A69;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-visio {
    border-radius: 0.625rem;
    background-color: #D1E5F2;
    width: 10em;
    height: 8.5em;
}

.user-etat {
    display: flex;
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.visio-micro {
    padding-right: 0.5em;
}

.visio-person {
    height: 7em;
    background-color: #9AC3ED;
    margin-left: 0.5;
    margin-right: 0.5;
    border-radius: 0.625rem 0.625rem 0 0;
}

/* Visio-conférence - footer ====================================================== */

.visio-nav {
    margin: 0.5em 2em;
}

.visio-container {
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 0;
    background-color: #46667B;
    border-radius: 0.625rem;
}

.font-semibold {
    font-weight: 600;
    height: fit-content;
    margin: 0;
}

.visio {
    list-style: none;
    background-color: #46667B;
    margin-bottom: 0;

}

.btn-visio {
    all: unset;
    text-decoration: none;
    margin: 0.25em 1em 0.1em 1em;
    padding: .75rem 0.25rem 0.25rem 0.25rem;
    list-style: none;
    color: var(--main-color);
    cursor: pointer;
    background: #46667B;
    border-radius: 0.625rem;

}

@media (hover: hover) {
    .btn-visio:hover {
        background: #7290a5;
    }
}

.visio-icone {
    display: flex;
    display: block;
    text-align: center;
    justify-content: center;
}

.visio-text {
    padding: .5em 0 0 0;
    margin: 0;
    text-align: center;
}

.btn-visio-participant {
    text-align: center;
    padding-bottom: .4em;
    color: var(--main-color);
    cursor: pointer;
}

.visio-text-participant {
    padding-top: 0;
    margin: 0;
}

.visio-icone-numero {
    justify-content: center;
    padding-bottom: .5em;
}

.deconnexion {
    padding: 1.6em 0 1.5em 0;
    list-style: none;
}

.visio-deconnexion {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--color-red);
    border-radius: 0.625rem;
    padding: 0.75rem;
    margin-top: auto;
    text-align: center
}

.btn-visio:focus {
    background: #7290a5;
    color: white;
}

/* MODAL BOX ================================= */

.modal-container {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.modal-container.active {

    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-modal);
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.close-modal {
    /* padding: 8px 10px; */
    border: none;
    /* border-radius: 5px; */
    /* font-size: 18px; */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    /* background: #ff365e; */
    color: var(--color-red);
}

.modal h3 {
    color: #162D4E;
    margin-bottom: 10px;
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    font-weight: bold;
}

.modal p {
    color: #162D4E;
    line-height: 1.4;
    margin-bottom: 1em;
}