:root {
    --main-color: #f4faff;
    --color-red: #9B000C;
    --color-turquoise: #39BAAB;
    --color-blue: #00619E;
    --color-modal: rgba(70, 102, 123, 0.5);
}

/* General====================================================== */

html{
    --res: calc(0.01*10vmin);
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    color: #162D4E;
}

button {
    box-shadow: none;
    border: none;
}

select {
    all: unset;
}

.btn-primary,
.btn-secondary,
.nav-admin-btn,
.btn-modifier,
.btn-supprimer {
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    text-decoration: none;
    font-size: calc(20*var(--res));
}

.btn-primary {
    color: var(--main-color);
    background-color: var(--color-turquoise);
}

.btn-secondary {
    padding: 0.75rem 2rem 0.75rem 2rem;
    color: var(--main-color);
    background-color: #00619E;
    box-shadow: 1px 1px 1px 1px #d2ecfc;
}

.nav-admin-btn {
    color: var(--main-color);
    background-color: var(--color-red);
    box-shadow: 1px 1px 1px 1px #d2ecfc;
}

.btn-back {
    padding: .4em;
    color: var(--main-color);
    background-color: var(--color-red);
}

.btn-modifier {
    background-color: #FAFDFF;
    color: #46667B;
}

.btn-supprimer {
    background-color: var(--color-red);
    padding: 0.75rem 1rem;
    margin-left: 1em;
    color: #FAFDFF;
    cursor: pointer;
}

.hidden-inlaptop {
    display: none;

}

.hidden-insmartphone {
    display: none;
}

.formulaire,
.btn-primary,
.btn-secondary,
.nav-admin-btn,
.btn-modifier,
.btn-supprimer,
.btn-back,
.ajout,
.form-ajout-email,
.form-ajout-password,
.dropdown-user,
.card,
.camera,
.fenetre-visio,
.fenetre-chat,
.chat-text,
.chat-writting,
.fenetre-participant,
.inner-participant,
.card-visio,
.visio-container,
.btn-visio,
.visio-deconnexion,
.card
 {
    border-radius: 0.625rem;
}

.chat-text,
.chat-writting,
.btn-chat-envoyer{
    border-radius: 0.4rem;
}
/* Accueil====================================================== */
.grid-accueil {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.section-logo {
    background-color: var(--color-blue);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    overflow: hidden;
}

.div-logo {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote{
    color: var(--main-color);
    margin-top: .5em;
    margin-left: 10rem;
    font-size: calc(11*var(--res));
}

.nav-acceuil {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 3.5rem 0 1.5rem;
}

.titre-accueil {
    margin: 0 0 0;
    font-size: calc(60*var(--res));
    font-weight: 600;
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    width: fit-content;
}

.espace-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.sous-titre-acceuil {
    font-size: calc(30*var(--res));
    font-style: normal;
    font-weight: 400;

    margin-top: 0;
}

.div-btn {
    padding-top: 2rem;
}

/* Admin connexion====================================================== */

.form {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

.form-admnin {
    padding-top: .5rem;
}

.formulaire {
    border: solid .5px #9AC3ED;
    color: #2e5996;
    padding: .5rem 2.5rem .5rem 2.5rem;
    box-shadow: inset .02em .02em rgba(0, 97, 158, 0.25);
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.form .formulaire::placeholder {
    color: #0D3A69;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Administration ====================================================== */

.nav-administration {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.taille-logo {
    width: 8em;
    margin: 0em 0em 1em 0em;
}

.ul-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 4em;
    padding-right: 3em;
}

.nav-admin-icone {
    padding-right: .5em;
}

.nav-admin-user {
    font-size: 1.1em;
    padding: 0 1em 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ajout {
    background-color: #46667B;
    width: fit-content;
    padding: 1em 2em 1em 2em;
    margin: 0 0em 6em 2em;
}

.new-user {
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    color: #FAFDFF;
    font-weight: 800;
    font-size: 1.5em;
    padding-left: 1em;
}

.form-ajout {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.form-ajout-email,
.form-ajout-password {
    border: solid .5px #9AC3ED;
    box-shadow: inset .02em .02em rgba(0, 97, 158, 0.25);
    color: #2e5996;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 100;
}

.form-ajout-email::placeholder,
.form-ajout-password::placeholder {
    color: #0D3A69;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form-item-1,
.form-item-2,
.form-item-3 {
    padding-right: 1em;

}

.dropdown-user {
    color: #00619E;
    text-decoration: none;
    background-color: #FAFDFF;
    border: #FAFDFF;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}

.titre-admin,
.titre-user {
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    color: #0D3A69;
    font-weight: 800;
    font-size: 1.1em;
}

main {
    margin: 0 2em 0 2em;
}

/* .section-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
} */
.section-card {
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: auto;
    grid-gap: 2em;

} 
.colonne-admin{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.double-colonne {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-gap: 1em;
}

.card {
    width: 100%;
    padding: .1em 7em 1em 2em;
}

.card-admin {
    background-color: #46667B;
    color: var(--main-color);
}
.card-user {
    background-color: #D1E5F2;
    color: #46667B;
}

.card-admin-entete{
    display: flex;
    justify-content: space-around;
    margin-top: 1em ;
}

.card-email {
    margin: 1 0 0 0;
    letter-spacing: 0.05em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.date-status {
    list-style-type: none;
    padding-left: 0;
    display: block flex;
    padding: 0 0 1em 0;
}

.status {
    margin: 0;
    padding: 0 2em 0 4em;
}

.btn-card {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}


/* User connexion ====================================================== */

.main-user-connexion {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    width: fit-content;
    display: flex;
    align-items: center;
}

.camera {
    width: 25em;
    height: 25em;
    background-color: #46667B;
    margin-right: 2em;
    ;
}

.user-content {
    margin-bottom: 2em;
    width: fit-content;
}

/* Visio-conférence ====================================================== */

.no-margin {
    margin: 0;
}

.petit-logo {
    width: 3em;
}

.fenetre {
    margin: 0 2em;
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
}

.fenetre-visio {
    height: 80vh;
    background-color: #46667B;
}

.fenetre-chat {
    display: none;
    height: 80vh;
    background-color: #46667B;
}


.chat-text {
    background-color: #FAFDFF;
    height: 90%;
    margin: .5em;
}

.chat-writting {
    margin: 0 .3em 0 .5em;
    padding: .45em 1em;
    width: 67%;
    border: none;
    font-size: large;
}

.btn-chat-envoyer {
    padding: 0.5rem 1rem;
    width: 26%;
    color: var(--main-color);
    background-color: var(--color-turquoise);
    font-size: large;
}

.fenetre-participant {
    display: none;
    height: 80vh;
    background-color: #46667B;
}

.inner-participant {
    background-color: #FAFDFF;
    padding: 1em 1em 1em 0em;
    margin: .5em;
    overflow: auto;
    height: 97%;
    color: #0D3A69;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}

.card-visio {
    background-color: #D1E5F2;
    width: 10em;
    height: 8.5em;
}

.user-etat {
    display: flex;
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.visio-micro {
    padding-right: 0.5em;
}

.visio-person {
    height: 7em;
    background-color: #9AC3ED;
    margin-left: .5;
    margin-right: .5;
    border-radius: 0.625rem 0.625rem 0 0;
}

/* Visio-conférence - footer ====================================================== */

.visio-nav {
    margin: 0.5em 2em;
}

.visio-container {
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 0;
    background-color: #46667B;
}

.font-semibold {
    font-weight: 600;
    height: fit-content;
    margin: 0;
}

.visio {
    list-style: none;
    background-color: #46667B;
    margin-bottom: 0;

}

.btn-visio {
    all: unset;
    text-decoration: none;
    margin: 0.25em 1em 0.1em 1em;
    padding: .75rem 0.25rem 0.25rem 0.25rem;
    list-style: none;
    color: var(--main-color);
    cursor: pointer;
    background: #46667B;

}

@media (hover: hover) {
    .btn-visio:hover {
        background: #7290a5;
        border-radius: 0.625rem;
    }
}

.visio-icone {
    display: flex;
    display: block;
    text-align: center;
    justify-content: center;
}

.visio-text {
    padding: .5em 0 0 0;
    margin: 0;
    text-align: center;
}

.btn-visio-participant {
    text-align: center;
    padding-bottom: .4em;
    color: var(--main-color);
    cursor: pointer;
}

.visio-text-participant {
    padding-top: 0;
    margin: 0;
}

.visio-icone-numero {
    justify-content: center;
    padding-bottom: .5em;
}

.deconnexion {
    padding: 1.6em 0 1.5em 0;
    list-style: none;
}

.visio-deconnexion {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--color-red);
    padding: 0.75rem;
    margin-top: auto;
    text-align: center
}

.btn-visio:focus {
    background: #7290a5;
    color: white;
}

/* MODAL BOX ================================= */

.modal-container {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.modal-container.active {

    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-modal);
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.close-modal {
    border: none;

    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    /* background: #ff365e; */
    color: var(--color-red);
}

.modal h3 {
    color: #162D4E;
    margin-bottom: 10px;
    font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    font-weight: bold;
}

.modal p {
    color: #162D4E;
    line-height: 1.4;
    margin-bottom: 1em;
}

/* MODAL */
@media (0px <=width <=600px) {
    .modal {
        width: 80%;
    }

    .espaceur-mdp {
        margin-bottom: 1em;
    }
}

/* ACCUEIL */
@media (0px <=width <=600px) {


    .grid-accueil {
        display: block;
        color: #162D4E;
    }

    .section-logo {
        background-color: #00619E;
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
    }

    .hidden-inlaptop {
        display: block;
        width: fit-content;
        margin: .5em .5em .5em auto;
    }

    .btn-secondary {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 0.4rem;
        text-decoration: none;
        font-size: .5rem;

        color: var(--main-color);
        background-color: var(--color-turquoise);
        box-shadow: none;
        display: flex;
        justify-content: flex-end;

    }

    .div-logo {
        width: 100%;
        height: 40vh;
    }

    .logo-accueil {
        width: 90%;
    }

    blockquote {
        margin: 1em auto;
        width: fit-content;
    }

    .nav-acceuil {
        display: none;
    }

    .espace-accueil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15em;
        align-items: center;
    }

    .titre-accueil {
        color: #162D4E;
        margin: 1em .6em .2em .6em;
        font-weight: 500;
        font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
    }

    .sous-titre-acceuil {
        color: #162D4E;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 1.3em;
    }

    .index-text {
        display: none;
    }

    .div-btn {
        padding-top: 2rem;
    }

    .btn-primary {
        padding: 0.75rem 6.5rem;
        margin: 0 .9em;
    }
}

/* ADMIN CONNEXION */
@media (0px <=width <=600px) {
    .form-admnin {
        padding-top: .5rem;
    }

    .formulaire {
        border-radius: 0.4rem;
        padding: .5rem 1.5rem .5rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .form .formulaire::placeholder {
        font-size: 1rem;
    }
}

/* ADMINISTRATION */
@media (0px <=width <=600px) {
    .hidden-insmartphone {
        display: none;
    }

    .taille-logo {
        width: 4em;
        margin-left: .4em;
    }

    .ul-nav {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding-top: 1.5em;
        padding-right: .5em;
    }

    .nav-admin-user {
        font-size: .6em;
        padding: 0 1em 0 0;
        font-weight: 400;
        font-style: normal;
    }

    .nav-admin-btn {
        padding: 0.75rem;
        border-radius: 0.4rem;
        font-size: .5rem;
    }

    .ajout {
        width: auto;
        border-radius: 0.4rem;
        color: #00619E;
        padding: .5em;
        margin: 0 .5em;
    }

    .new-user {
        font-weight: 400;
        font-size: 1em;
    }

    .form-ajout {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style-type: none;
    }

    .form-ajout-email,
    .form-ajout-password {
        border-radius: .4rem;
        padding: 0.5rem 40% 0.5rem 0.5rem;
        font-size: .5rem;
        font-weight: 100;
    }

    .form-ajout-email::placeholder,
    .form-ajout-password::placeholder {
        font-size: 1rem;
        font-weight: 300;
        padding-left: .5em;
    }

    .form-item-1,
    .form-item-2,
    .form-item-3 {
        margin: 0 1em;
        padding: .2em 0;
    }

    .dropdown-user {
        margin: 0.5em 0;
        border-radius: .4rem;
        padding: 0.5rem .5rem;
        font-size: 1rem;
        text-align: center;
    }

    .btn-primary-sm {
        padding: 0.5rem 5.5rem;
        border-radius: .4rem;
        font-size: 1rem;
        margin: 0 .9em;
    }

    main {
        margin: .5em;
    }

    .section-card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .titre-admin,
    .titre-user {
        font-family: 'BespokeStencil-Regular', 'Roboto', sans-serif;
        font-size: .8rem;
        font-weight: 200;
    }

    .double-colonne {
        display: grid;
        grid-template-columns: 1fr;

    }

    .card {
        width: 100%;
        padding: 0;
        height: fit-content;
    }

    .card-email {
        padding: 1em 2em 0em 1.5em;
        font-weight: 500;
        font-size: medium;
        margin: 0;
    }

    .btn-card {
        padding-left: 1.5em;
    }

    .date-status {
        list-style-type: none;
        display: block flex;
        padding: 0 0 .3em 1.5em;
    }

    .status-admin {
        margin: 0;
        padding: 0 2em 0 4em;
    }

    .btn-modifier,
    .btn-supprimer {
        padding: 0.75;
        border-radius: 0.4rem;
        font-size: .8rem;
    }

}

/* USER CONNEXION */
@media (0px <=width <=600px) {

    .main-user-connexion {
        height: 60vh;
        display: flex;
        padding: 2em;

    }

    .user-container {
        display: flex;
        flex-direction: column;

    }

    .camera {
        min-width: 300px;
        width: auto;
        height: 15em;
        margin-right: 0;
    }

    .user-content {
        margin-bottom: 2em;
        width: fit-content;
    }

    .ajustement {
        margin: 0 1em;
    }
}

/* VISIO */
@media (0px <=width <=600px) {

    .petit-logo {
        width: 1em;
    }

    .fenetre {
        margin: 0 1em;
    }

    .fenetre-visio {
        height: 80vh;

    }

    .fenetre-chat,
    .visio-hide,
    .visio-text {
        display: none;
    }

    .visio-nav {
        margin: .1em 1em;
        height: 12vh;
    }

    .visio-container {

        display: flex;
        justify-content: space-around;
        padding-left: .4em;
    }

    .visio-deconnexion {
        font-size: small;
    }

    .visio {
        list-style: none;
    }

    .btn-visio {
        margin: 0.3em 0 0 0;
        padding: .8rem;
        color: var(--main-color);

    }

    .deconnexion {
        padding: 1.2em .75em;
    }

    .visio-deconnexion {
        padding: 0.75rem;

    }

}